:root{
    --gunmetal: #122C34;
    --indigoDye: #224870;
    --marianBlue: #2A4494;    
    --pictionBlue: #4EA5D9;    
    --robinEggBlue: #44CFCB;
    --darkGrey: #343a40;
    --lightGrey: #adb5bd;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--pictionBlue);
}

main{   
    margin: 20px auto auto auto;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

article{
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    padding: 15px;
}

h4{
    margin: 5px 0px;
}

address{
    font-style: normal;
    color: var(--lightGrey);
}

.artistInfo{
    margin-left: 20px;
    margin-right: 60px;
    color: var(--darkGrey);
}